<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>login</title>
    <link href="login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>

    <%- include('navbar', navbarVars); %>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div id="box">
                        <form action="/account" method="post">
                            <div class="title size-10 has-text-centered">Account</div>
                            <div class="size-5 has-text-centered"><%= user %></div>
                            <br>
                            
                            <div class="field has-text-centered">
                                <div class="control">
                                    <button class="button has-background-danger-dark has-text-light" type="submit" name="logout" value="false">Delete Account</button>
                                    <button class="button" type="submit" name="logout" value="true">Log Out</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>

</body>

</html>