<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>login</title>
    <link href="login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>

    <%- include('navbar', navbarVars); %>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div id="box">
                        <form action="/login" method="post">
                            <div class="title size-10 has-text-centered">Login</div>
                            <div class="size-5 has-text-centered has-text-danger"><%= loginMessage %></div>
                            <div class="field">
                                <label class="label">Email: </label>
                                <div class="control">
                                    <input class="input" type="email" placeholder="something@gmail.com"  name="email">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Password: </label>
                                <div class="control">
                                    <input class="input" type="password" textmode="Password"placeholder="e9urhau607" name="pass">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button" type="submit" name="login" value="true">Login</button>
                                    <button class="button" type="submit" name="login" value="false">Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="script.js"></script>

</body>

</html>