<nav class="navbar is-dark">
    <div class="navbar-brand">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Laundry Hand</a>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <% if(!navbarVars.loginStatus) { %>
            <a class="navbar-item" href="/login">Login</a>
            <% } else { %>
            <a class="navbar-item" href="/account">Account</a>
            <% } %>
        </div>
    </div>
</nav>